.container {
    border: 2px solid #383838;
    margin: 10px 7px;
    border-radius: 6px;
    list-style-type: none;
}

.image {
    width: 100%;
    height: fit-content;
    max-width: 24rem;
    max-height: 16rem;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: large;
    font-weight: 500;
    margin: 5px 10px;
}

.language-container {
    display: flex;
}

.language {
    border: 1px solid #383838;
    border-radius: 7px;
    padding: 5px;
    margin: 8px 0 8px 8px;
}