.container {
    border: 3px solid #383838;
    margin: 10px;
    border-radius: 6px;
    list-style-type: none;
}

.dark-container {
    border: 3px solid #fff;
}

.image {
    width: 100%;
    height: fit-content;
    max-width: 22rem;
    max-height: 16rem;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: large;
    font-weight: 500;
    margin: 5px 18px;
}

.language-container {
    display: flex;
    margin-left: 10px;
}

.language {
    border: 3px solid #383838;
    border-radius: 7px;
    padding: 5px 7px 7px 7px;
    margin: 8px 0 18px 8px;
    font-weight: 500;
}

.dark-language {
    border: 3px solid #fff;
}

