.container {
  width: 100%;
  max-width: 56rem;
  margin: 6px auto;
}

.portfolio {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  flex-wrap: wrap;
  
}

@media (max-width: 965px) {
  .container{
    max-width: 37.9rem;
  }
}
