.container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border-radius: 8px;
  margin-top: 12px;
  border: 3px solid #c4c4c4;
  font-size: large;
}

.dark-input {
  background: rgb(34, 34, 34);
}

.input:focus {
  outline: none;
  border-color: #c36ef5;
  background: #f8edff;
}

.dark-input:focus {
  outline: none;
  border-color: #c36ef5;
  background: none;
}

/*To be applied on name input to make title margins uniform*/
.name {
  margin-top: 0;
}

.text-area {
  padding: 10px;
  border-radius: 8px;
  margin-top: 12px;
  border: 3px solid #c4c4c4;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.dark-text-area {
  background: rgb(34, 34, 34);
}

.text-area:focus{
  outline: none;
  border-color: #c36ef5;
  background: #f8edff;
}

.dark-text-area:focus {
  outline: none;
  border-color: #c36ef5;
  background: none;
}

.invalid {
  color: rgb(170, 41, 41);
  margin-top: 6px;
}

.dark-invalid {
  color: rgb(221, 91, 91);
}

.success {
  font-size: larger;
  color: rgb(77, 131, 77);
}

.error {
  font-size: larger;
  color: rgb(170, 41, 41);
}

.form-button {
  padding: 14px;
  border-radius: 8px;
  width: 100%;
  max-width: 10rem;
  font-size: large;
  font-weight: 600;
  border: none;
  background: linear-gradient(to right, #b56aff, #56bceb);
  color: #fff;
  box-shadow: -4px 6px 8px -2px #cecece;
  cursor: pointer;
  margin-top: 12px;
}

.dark-form-button {
  box-shadow: none;
}



@media (max-width: 768px) {
  .container {
      max-width: 32rem;
  }
}

@media (max-width: 425px) {
  .container {
      max-width: 24rem;
  }
}

@media (max-width: 375px) {
  .container {
      max-width: 19rem;
  }
}

@media (max-width: 320px) {
  .container {
      max-width: 17rem;
  }
}
