.container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 3px solid #c4c4c4;
  font-size: large;
}

.input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.invalid {
  background: #f1959b;
  border: 1px solid red;
}

.text-area {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 3px solid #c4c4c4;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.form button {
  padding: 14px;
  border-radius: 8px;
  width: 100%;
  max-width: 10rem;
  font-size: large;
  font-weight: 600;
  border: none;
  background: linear-gradient(to right, #b56aff, #56bceb);
  color: #fff;
  box-shadow: -4px 6px 8px -2px #cecece;
  cursor: pointer;
}
