.container {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container h1 {
    margin-bottom: 16px;
}

.container h3 {
    margin: 0;
}

.container p {
    text-align: justify;
    margin: 16px auto;
}