.container {
    text-align: center;
    width: 100%;
    max-width: 40rem;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.container h1 {
    margin-bottom: 6px;
    font-size: 54pt;
}

.container h3 {
    margin: 0;
    font-size: 18pt;
}

.container p {
    text-align: justify;
    margin: 10px auto 16px auto;
}

@media (max-width: 768px) {
    .container {
        max-width: 32rem;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 24rem;
    }

    .container h1 {
        font-size: 30pt;
    }

    .container h3 {
        font-size: 14pt;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 19rem;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 17rem;
    }
}