.list-item {
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.list-item:before {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-left: -24px;
    margin-top: 12px;
    background: #c4c4c4;
    z-index: 99;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.year {
    background: rgb(34, 34, 34);
    color: #fff;
    padding: 4px 10px 6px 10px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 20px;
    
}

.title {
    font-weight: 500;
    font-size: larger;
    padding-bottom: 6px;
    margin-right: 20px;
}

.duration {
    color:#929292;
    padding-bottom: 5px;
}

.description {
    font-size: large;
    color: #8b8b8b;
}

@media (max-width: 425px) {
    .year {
        font-size: small;
        margin-bottom: 8px;
        margin-right: 16px;
    }

    .title{
        font-size: large;
        margin-bottom: 6px;
    }

    .duration{
        margin-bottom: 6px;
    }
  }