.container {
    width: 100%;
    max-width: 42rem;
}

.skills-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.skill {
    /* width: 100%; */
    width: 60px;
    margin: 0 10px;
    /* display: flex;
    align-items: center; */
}