.light {
  background-color: #fff;
  color: rgb(34, 34, 34);
}

.dark {
  background-color: rgb(34, 34, 34);
  color: #fff;
}

.theme-toggle {
  background-image: url("assets/moon.svg");
  background-color: #d596fa;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.4em;
  width: 1.4em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 15px 23px 22px;
  position: fixed;
  top: 4%;
  right: 8%;
  z-index: 99;
}

.dark-theme-toggle {
  background-image: url("assets/sun.svg");
  background-color: #fdda68;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.4em;
  width: 1.4em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 15px 23px 22px;
  position: fixed;
  top: 4%;
  right: 8%;
  z-index: 99;
}